<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>
 <form role="form" class="layui-form layui-form-pane" method="post" action="/system/menu/doEdit">
   <input type="hidden" name="id" value="${(sysMenu.id)!}" />
  <div class="box-body">
    <div class="form-group">
      <label for="uname">Code</label>
     	<input type="text" name="code" class="form-control" placeholder="Please input Code,such as 05" 
     	value="${(sysMenu.code)!}" lay-verify="required">
    </div>
    <div class="form-group">
      <label for="uname">Directory Name</label>
     	<input type="text" name="menuName" class="form-control" value="${(sysMenu.menuName)!}" placeholder="Please input directory name"  lay-verify="required">
    </div>
    <div class="form-group">
      <label for="uname">Sort</label>
     	<input type="text" name="sort" class="form-control" value="${(sysMenu.sort)!}"  placeholder="Please input sort"  lay-verify="required|number">
    </div>
    <div class="form-group">
      <label for="uname">Icon <i class="fa ${(sysMenu.icon)!}"></i></label>
     	<input type="text" name="icon" class="form-control" value="${(sysMenu.icon)!}" placeholder="Please input icon,such as fa-user" >
    </div>
    <div class="form-group">
	    <button type="submit" class="btn btn-success" lay-submit lay-filter="submit"><i class="fa fa-save"></i>  Submit</button>
	    <a  class="btn btn-default" href="javascript:parent.layer.closeAll('iframe');"><i class="fa fa-close"></i>  Cancel</a>
	  </div>
  </div><!-- /.box-body -->
</form>
</@body>
<@footer>
</@footer>